@import '@/styles/variables';

.tabs {
  grid-column: 2 / 3;

  display: flex;
  justify-content: space-between;
  gap: 10px;

  width: 100%;
  min-height: 36px;

  @media (max-width: 768px) {
    grid-column: 1 / 2;
  }

  &_active {
    grid-column: 1 / 3;

    @media (max-width: 768px) {
      grid-column: 1 / 2;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    width: 100%;

    overflow-y: hidden;
    overflow-x: auto;
  }

  &__item {
    display: flex;
    align-items: center;

    color: $green;
    text-shadow: $textShadowGreen;

    border-radius: 5px;
    user-select: none;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 20px;
    }

    &:hover {
      background-color: #0f1e23;

      .tabs__delete {
        opacity: 1;
      }
    }

    &_active {
      background-color: #112429;

      &:hover {
        background-color: #112429;
      }

      .tabs__delete {
        opacity: 1;
      }
    }
  }

  &__title {
    padding-left: 8px;
    transform: translateY(-3px);
  }

  &__delete {
    padding: 8px 4px;

    background-color: transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    opacity: 0;

    &_img {
      transform: rotate(45deg);
    }

    &:hover {
      background-color: #152b31;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
  }

  &__add {
    margin-right: 10px;
    padding: 0 6px;

    background-color: transparent;
    border-radius: 5px;

    &:hover {
      background-color: #112429;
    }

    &:active {
      opacity: 0.7;
    }

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  &__api {
    align-self: center;

    color: $green;
    text-shadow: $textShadowGreen;

    &:hover {
      color: $violet;
      text-shadow: $textShadowViolet;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}
