@import '@/styles/variables';

.controls {
  align-self: stretch;
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  &__button {
    display: block;
    margin-bottom: 10px;
    background-color: transparent;
    transition: 0.3s;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__docs {
    place-self: start center;
  }

  &__other {
    place-self: end center;
  }
}
