@import '@/styles/variables';

.controls {
  flex-basis: content;
  align-self: stretch;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border-inline-end: 1px solid $transparentGreen;
  padding-inline-end: 0.3rem;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: initial;
    border-inline-end: none;
    border-block-end: 1px solid $transparentGreen;
  }

  &__button {
    display: block;
    margin-bottom: 15px;
    background-color: transparent;
    transition: 0.3s;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    @media (max-width: 1100px) {
      margin-bottom: 0;
    }
  }

  &__docs {
    place-self: start center;
    position: relative;

    @media (max-width: 1100px) {
      place-self: center start;
    }
  }

  &__docs__stop {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 1;
  }

  &__docs__failed {
    opacity: 0.5;
  }

  &__docs__flashing {
    animation: flashing-animation 0.5s infinite;
  }

  @keyframes flashing-animation {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }
  &__other {
    place-self: end center;

    @media (max-width: 1100px) {
      place-self: center end;
      display: flex;
      align-items: baseline;
      gap: 5px;
    }
  }
}
