@font-face {
  font-family: 'Rick&Morty';
  src: url('../../public/fonts/WubbaLubbaDubDub.otf');
}

#__next {
  background-color: rgb(0, 1, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
