@font-face {
  font-family: 'Rick&Morty';
  src: url('../../public/fonts/WubbaLubbaDubDub.otf');
}

#__next {
  background-color: rgb(0, 1, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cm-editor * {
  font-family: 'Rick&Morty', monospace;
  font-size: 20px;
}
