$green: rgba(73, 193, 43, 1);
$darkgreen: rgba(6, 87, 105, 1);
$brightgreen: rgba(73, 193, 43, 1);
$violet: rgba(94, 1, 90, 1);
$red: rgba(193, 43, 61, 1);
$RMfont: 'Rick&Morty';
$textShadowGreen: -0 -4px 4px $darkgreen, 0 -4px 4px $darkgreen, -0 4px 5px $darkgreen,
  0 4px 3px $darkgreen;
$textShadowViolet: -0 -4px 4px $brightgreen, 0 -4px 4px $brightgreen, -0 4px 5px $brightgreen,
  0 4px 3px $brightgreen;
$textShadowRed: -0 -4px 4px rgba(105, 6, 101, 1), 0 -4px 4px rgba(105, 6, 101, 1),
  -0 4px 5px rgba(105, 6, 101, 1), 0 4px 3px rgba(105, 6, 101, 1);
$grey: rgba(127, 130, 128, 0.701);

//doc exporer
$blue: rgba(0, 128, 255);
$lightgray: rgba(211, 211, 211);
$transparentGreen: rgba(73, 193, 43, 0.5);
