@import '@/styles/variables';

.editor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  grid-auto-flow: column;
  gap: 10px;

  width: 100%;
  padding: 10px;

  font-size: 24px;
  font-family: $RMfont;

  background-color: #0e1a1c;
  border-radius: 5px;

  &__reqButton {
    align-self: start;
    display: flex;

    background-color: transparent;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__loader {
    margin: 0 auto;
    margin-top: 20px;
  }
}

.input {
  grid-column: 1 / 2;
  grid-row: span 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  background-color: #112429;
  border-radius: 5px;

  &__position {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__mirror {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;

    font-size: 16px;
  }
}

.wrapper {
  flex-grow: 1;
  display: flex;
  gap: 10px;
}
