@import '../../styles/variables.scss';

.header {
  font-family: $RMfont;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 2em;
  @media (max-width: 768px) {
    font-size: 1em;
  }
}

.logo {
  color: $green;
  text-shadow: $textShadowGreen;
  &:hover {
    color: $violet;
    text-shadow: $textShadowViolet;
  }
}

.button {
  color: $green;
  text-shadow: $textShadowGreen;
  font-size: inherit;
  background-color: transparent;
  &:hover {
    color: $violet;
    text-shadow: $textShadowViolet;
  }
}

.user {
  font-size: 0.5em;
  color: $green;
  text-shadow: $textShadowGreen;
}

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 20px;

  color: $green;
  text-shadow: $textShadowGreen;

  &__item {
    opacity: 0.6;

    &_active {
      opacity: 1;
    }
  }

  &__switcher {
    position: relative;

    width: 55px;
    height: 30px;

    margin: 0 15px;

    background-color: rgb(63 63 63);
    background-image: url(../../../public/icons/toggle.svg);
    background-repeat: no-repeat;
    background-size: auto calc(100% - 4px);
    background-position: left 2px top 2px;
    border-radius: 20px;

    transition: 0.3s;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &_active {
      background-position: right 2px top 2px;
    }
  }
}
