@import '../../styles/variables.scss';

.header {
  font-family: $RMfont;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 2em;
  @media (max-width: 768px) {
    font-size: 1em;
  }
}

.logo {
  color: $green;
  text-shadow: $textShadowGreen;
  &:hover {
    color: $violet;
    text-shadow: $textShadowViolet;
  }
}

.button {
  color: $green;
  text-shadow: $textShadowGreen;
  font-size: inherit;
  background-color: transparent;
  &:hover {
    color: $violet;
    text-shadow: $textShadowViolet;
  }
}

.user {
  font-size: 0.5em;
  color: $green;
  text-shadow: $textShadowGreen;
}
