@import '../../styles/variables.scss';

.container {
  font-family: $RMfont;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 1em;
}

.title {
  font-size: 4em;
  color: $red;
  text-shadow: $textShadowRed;
  animation: blink 2s infinite linear;
}
@keyframes blink {
  0% {
    color: $red;
    text-shadow: $textShadowRed;
  }
  50% {
    color: $green;
    text-shadow: $textShadowGreen;
  }
  100% {
    color: $violet;
    text-shadow: $textShadowViolet;
  }
}
