@import '../../styles/variables';

.footer {
  font-family: $RMfont;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5em;
}
.special {
  font-family: $RMfont;
  display: flex;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}

.year {
  font-size: 2em;
  color: $brightgreen;
  text-shadow: $textShadowGreen;
  text-align: right;
  place-self: center center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: left center;
}
